@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*mainbanner 영역*/

#mainbanner {
  background-image: url("../img/mainbanner.jpg");
  height: 100%;
  width: 100%;
}

#mainbanner .text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  text-align: center;
}

#mainbanner .text_box .maintext {
  font-family: "Newsreader", serif;
  font-size: 52px;
  color: #274135;
  line-height: normal;
  /* margin */
}

#mainbanner .text_box .line {
  width: 202px;
  height: 6px;
  background-color: #5e9b50;
  margin: 0 auto;
}

#mainbanner .text_box .subtext {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 48px;
  font-weight: lighter;
}

/*FIRST SECTION START*/
section:nth-of-type(1) {
  position: relative;
  margin-top: -249px;
  text-align: center;
  margin-bottom: 50px;
}

section .items {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.5s;
}

section:nth-of-type(1).active .items {
  opacity: 1;
  transform: translateY(0);
}

section .items > li {
  width: 253px;
  height: 497px;
  padding: 60px 30px 30px;
  margin: 0 11px;
}

section .items > li:nth-child(1) {
  background-color: #243f32;
}

section .items > li:nth-child(2) {
  background-color: #2c4939;
}

section .items > li:nth-child(3) {
  background-color: #365341;
}

section .items > li:nth-child(4) {
  background-color: #3e5945;
}

/*active*/

section:nth-of-type(1) .items > .item1 {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s 0.1s;
}
section:nth-of-type(1) .items > .item2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s 0.2s;
}
section:nth-of-type(1) .items > .item3 {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s 0.3s;
}
section:nth-of-type(1) .items > .item4 {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s 0.4s;
}

section:nth-of-type(1).active .items > .item1 {
  transform: translateY(0);
  opacity: 1;
  /* transition: 0.5s 0.25s; */
}

section:nth-of-type(1).active .items > .item2 {
  transform: translateY(0);
  opacity: 1;
  /* transition: 0.5s 0.35s; */
}

section:nth-of-type(1).active .items > .item3 {
  transform: translateY(0);
  opacity: 1;
  /* transition: 0.5s 0.42s; */
}

section:nth-of-type(1).active .items > .item4 {
  transform: translateY(0);
  opacity: 1;
  /* transition: 0.5s 0.48s; */
}
/*active 끝*/

section .items > li > h4 {
  font-family: "Newsreader", serif;
  color: #f9d3db;
  font-size: 24px;
  margin-bottom: 20px;
}

section .items > li > img {
  width: 192px;
  height: 192px;
}

section .items > li > .subtext {
  margin-top: 20px;
  color: #8a9992;
  font-family: "Poppins", sans-serif;
  line-height: normal;
}

section .section1_readmore {
  overflow: hidden;
  display: inline-block;
  width: 1100px;
  height: 150px;
}

section .section1_readmore .section1_readmore_wrap {
  display: flex;
  justify-content: space-around;
}

section .section1_readmore .section1_text {
  float: left;
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
}

button {
  width: 242px;
  height: 55px;
  background-color: #5e9b50;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #74a563;
}

button[class="first_section"] {
  margin-top: 50px;
}

section .section1_readmore button:after {
  content: ">";
  margin: 0 0 0 30px;
}

/*SECOND SECTION START*/
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .section2_textwrap {
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section .section2_textwrap .section2_number {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section .section2_number > li:nth-child(1) {
  font-family: "Volkhov", serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  margin-bottom: 15px;
}

section .section2_number > li:nth-child(2) {
  font-family: "Poppins", sans-serif;
}

section .square {
  width: 825px;
  height: 405px;
  background: url(../img/farm2-columnbg1.png) repeat;
  background-position: left top;
  padding: 90px 8% 75px;
}

section .square div {
  font-family: "Merriweather", serif;
  font-size: 28px;
  line-height: 45px;
  font-weight: 700;
  color: #252525;
}

section .section_bottom {
  transform: translateX(30%);
}

/* swiper 추가 영역*/
section .swiper-container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

section .swiper-wrapper {
  height: 521.328px;
}

section .swiper-container .inner {
  position: relative;
  /* height: 100vh; */
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

section .inner.first {
  background-image: url("../img/swiper/swiper1.jpg");
}

section .inner.second {
  background-image: url("../img/swiper/swiper2.jpg");
}

section .inner.third {
  background-image: url("../img/swiper/swiper3.jpg");
}

section .inner.fourth {
  background-image: url("../img/swiper/swiper4.jpg");
}

section .section2_textwrap:nth-child(3) .square p {
  font-family: "Poppins", sans-serif;
  line-height: 33px;
}

section .section2_textwrap:nth-child(3) .section2_number {
  opacity: 0;
} /*section2_textwrap의 section2_number 숨기기*/

/*THIRD SECTION START*/

section:nth-of-type(3) {
  /* text-align: center; */
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 130px;
}

section .section3_maintext {
  text-align: center;
}

section .section3_maintext h3 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  line-height: 45px;
  font-weight: 700;
  color: #252525;
  display: inline-block;
}

section .container_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

section .container_wrap > li {
  display: flex;
  justify-content: space-around;
  width: calc(100% / 3);
  padding: 20px;
}

section .container_wrap > li img {
  width: 70px;
  height: 70px;
}

section .container_wrap > li .container_text {
  padding-left: 40px;
}

section .container_wrap > li .container_text .container_maintext {
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 0 15px;
}

section .container_wrap > li .container_text .container_subtext {
  font-family: "Poppins", sans-serif;
}

/*FOURTH SECITON START*/

section:nth-of-type(4) {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 150px;
  opacity: 0;
  transform: translateY(150px);
  transition: 0.5s;
}

section:nth-of-type(4).active {
  opacity: 1;
  transform: translateY(0px);
}

section .section4_wrap {
  display: flex;
  height: 522px;
}

section .section4_left {
  width: 60%;
  padding: 90px 5% 75px;
  background-color: #3e5945;
  position: relative;
}

section .section4_wrap .section4_maintext {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 28px;
  color: #ebd1c8;
  line-height: 45px;
  margin: 0 0 25px;
}

section .section4_wrap .section4_subtext {
  font-family: "Poppins", sans-serif;
  color: #f2f1f0;
  margin: 0 0 25px;
  line-height: 30px;
}

section .section4_right {
  width: 40%;
  background: url(../img/section4_farmer.jpg) center center;
  background-size: cover;
}

section .section4_left button {
  position: absolute;
  left: 50px;
}

.background {
  width: 100%;
  height: 81px;
  background: url(../img/footer-pic1.png) center center no-repeat;
  margin-top: 150px;
}

@media screen and (max-width: 1200px) {
  section .items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  section .items > li {
    width: 20%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  section .items > li > img {
    width: auto;
    height: auto;
  }

  section .section1_readmore {
    width: auto;
  }

  section .section1_readmore .section1_text {
    margin-right: 15px;
  }

  section .section2_textwrap {
    width: 100%;
    flex-direction: column;
  }

  section .section2_textwrap:nth-child(3) .section2_number {
    display: none;
  }

  section .square {
    width: 100%;
    text-align: center;
    height: auto;
  }

  section .square div {
    margin-top: -30px;
  }

  section .section_bottom {
    transform: translateX(0%);
  }

  section .container_wrap > li {
    justify-content: flex-start;
    flex: 100%;
  }

  section .section4_wrap {
    height: 100%;
  }
  section .section4_left button {
    position: static;
  }

  section .container_wrap {
    flex-direction: row;
  }

  section .container_wrap > li {
    flex: 50%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  #mainbanner .text_box {
    width: 80vw;
  }

  #mainbanner .text_box .maintext {
    font-size: 3.25em;
  }

  #mainbanner .text_box .subtext {
    font-size: 3em;
  }

  section .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  section .items > li {
    width: 80vw;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    align-items: center;
  }

  section .items > li > img {
    width: 192px;
    height: 192px;
  }

  section .items > li > .subtext {
    font-size: 1.25em;
  }

  section .text {
    margin-top: 50px;
  }

  section .section1_readmore {
    width: 100%;
  }

  .section1_readmore .section1_readmore_wrap {
    flex-direction: column;
    align-items: center;
  }

  section .section1_readmore .section1_readmore_wrap .section1_text {
    margin-top: 20px;
  }

  button[class="first_section"] {
    margin-top: 20px;
  }

  section .section2_textwrap {
    width: 100%;
    flex-direction: column;
  }

  section .section2_textwrap:nth-child(3) .section2_number {
    display: none;
  }

  section .square {
    width: 100%;
    text-align: center;
  }

  section .square div {
    margin-top: -30px;
  }

  section .section_bottom {
    transform: translateX(0%);
  }

  section .container_wrap > li {
    justify-content: flex-start;
    flex: 100%;
  }

  section .section4_wrap {
    height: 100%;
  }
  section .section4_left button {
    position: static;
  }
}
